* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $brand-font;
  font-size: $brand-font-size;
  line-height: $brand-font-size * 1.5;
  color: $copy-color;
}

h2 {
  font-size: $brand-font-size * 2.5;
  line-height: $brand-font-size * 3;
  color: $brand-color;
  padding: ($space / 2) 0;
}

h3 {
  font-size: $brand-font-size * 1.8;
  line-height: $brand-font-size * 2.3;
  color: $brand-color;
  font-weight: normal;
  padding: ($space / 2) 0;
}

header {
  .nav {
    background: $brand-color;
    padding: $space / 2;

    .logo {
      height: 1rem;
    }
  }

  .header-image {
    background-image: url(https://images.careerfoundry.com/public/frontpages/home/v2/Hero%20Image%201280x480-min.jpg);
    background-position: 50% 10%;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #5ca2b2;
    height: 432px;

    @media (max-width: 1200px) {
      background-size: cover;
      height: 287px;
    }

    @media (max-width: 576px) {
      background-image: url(https://images.careerfoundry.com/public/frontpages/home/v2/Hero_Image_Mobile_768x432-min.jpg);
      height: 233px;
    }
  }
}

.xs-hide {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.md-hide {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.container-wrapper {
  width: 50%;
  text-align: center;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

footer {
  background: $brand-color;
  text-align: center;
  padding: $space / 2;
}