.index-page {
  text-align: center;

  .about {
    padding: ($space * 2) 0;

    h2 {
      padding: 0;
    }

    .partners {
      margin-top: $space;

      img {
        margin-top: $space;
      }
    }
  }

  .courses-list {
    background: $section-color;
    padding: $space 0;

    .course {
      position: relative;
      height: 10rem;
      background: $course-color;
      background-position: center center;
      color: white;
      font-weight: bold;
      margin-top: $space / 2;
      padding: $space;

      .title {
        font-size: $brand-font-size * 1.8;
        font-weight: normal;
        line-height: $brand-font-size * 2.5;
      }

      .next-course {
        position: absolute;
        bottom: $space / 2;
        right: $space / 2;
        font-weight: normal;
        text-align: right;
      }

      .price {
        position: absolute;
        bottom: $space / 2;
        left: $space / 2;
        color: #aee8f7;
      }

      .show-more {
        position: absolute;
        bottom: $space / 2;
        right: $space / 2;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

