<header>
  <div class="nav">
    <div class="container">
      <img class="logo" src="https://images.careerfoundry.com/public/logo/cf_logo_min_full.svg" alt="Logo">
    </div>
  </div>

  <div class="header-image"></div>
</header>