<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="index-page">
      <section class="about">
        <div class="container">
          <h2>{{ page.about-section.headline }}</h2>
          <h3>{{ page.about-section.subheadline }}</h3>

          <div class="container-wrapper">
            <p>{{ page.about-section.copy }}</p>
          </div>

          <div class="partners">
            <p>{{ page.partners.copy }}</p>
            <img class="xs-hide" src="{{ page.partners.image_desktop }}" alt="">
            <img class="md-hide" src="{{ page.partners.image_phone }}" alt="">
          </div>
        </div>
      </section>
      <section class="courses-list">
        <div class="container">
          <h2>{{ page.courses.headline }}</h2>
          <p>{{ page.courses.copy }}</p>

          <div class="grid">
            <!-- print data here -->
          </div>
        </div>
      </section>
    </div>
    {% include footer.html %}
  </body>

</html>
